@mixin flexCenter($direction: column, $JustifyContent: center){
  display:flex;
  justify-content: $JustifyContent;
  align-items: center;
  flex-direction: $direction;
  @media (max-width: 600px) { 
    flex-direction: column;
  }
}