$MainBackGroundColor: rgb(30, 30, 30);
$HeaderBackGroundColor: #333;
$FooterBackGroundColor: #333;


$ColorBasicDark: #212221;
$ColorBasicMain: #1181b2;
$ColorBasicSecondary: #26ace2;
$ColorBasicLight: #ffffff;
$ColorBasicLogoMain: #1181b2;
$ColorBasicLogoMain: #ffffff;
$OpacityBasicLogo: 0.14;
$ColorBasicLogoOnWhiteTemp: #ddedf4;
$ColorBasicComplement:#44449b;
$ColorAdvance:#ae2b24;

$ColorPage1:#cf624d;
$ColorPage2:#55c0d4;
$ColorPage3:#d5ffe9;
$ColorPage4:#e3bfbb;
$ColorPage5:#cf1744;
$ColorPage6:#a78169;
$ColorPage7:#1a1919;
$ColorPage8:#32403b;