@import '../../SASS/basicComponents';
@import '../../SASS/colors';



.siteMap{
  overflow-y: auto;
  height: 100%;
  width: 66%;
  right: 0;

  background-color: #FEFEFE;
}

.siteMapList{
  padding: 2rem;
}

.IconCV{
  position: fixed;
  right: 10vh;
  top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 960px) { 
    visibility: hidden;
  }
}