@import '../../SASS/basicComponents';
@import '../../SASS/colors';



.siteMap{
  box-sizing: border-box;
  flex: 8; 


  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 4rem;

  
  height: 100%;

  background-color: bisque;

}