@import '../../SASS/basicComponents';
@import '../../SASS/colors';



.siteMap{
  flex: 8; 


  box-sizing: border-box;
  padding: 2rem;


  height: 100%;

  background-color: bisque;

  h1{
    padding-left: 1rem;
  }
}