@import '../../SASS/basicComponents';
@import '../../SASS/colors';

.menuExpanded {
  height: 100%;
  width: 34%;

  // scroll-snap-align: start;
  // scroll-snap-stop: normal;

  transition: flex 0.2s linear;
}
.menuExpanded-exit{
  transform: translateX(0%);
  position:fixed;
}
.menuExpanded-exit-active{
  transform: translateX(-110%);
  position:fixed;
  transition: all 1s;
}

.menuMainPage {
  height: 100%;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  color: $ColorBasicLight;
  background-color: $ColorBasicDark;
}

.title {
  font-size: 4rem;
}

.header {
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  border-radius: 30px;
  height: 90px;
  width: 180px;

  display: flex;
  justify-content: flex-end;
  // align-items: center;
  background: $HeaderBackGroundColor;
}
.header-enter{
  height: 90px;
  width: 180px;
  flex-direction: row;
}
.header-enter-active{ //ACTIVE
  height: 180px;
  width: 90px;
  transition: width 1s, 1s height 1s;
}
.header-enter-done{
  height: 180px;
  width: 90px;
  flex-direction: column;
}
.header-exit{
  height: 180px;
  width: 90px;
  flex-direction: column;
}
.header-exit-active{ //ACTIVE
  height: 90px;
  width: 180px;
  transition: height 1s, 1s width 1s;
}
.header-exit-done{
  height: 90px;
  width: 180px;
  flex-direction: row;
}

.image{
  position: absolute;
  top: 0px;
  left: 0px;
}

.active .menu-button {
  rotate: -90deg;
  transition: rotate 1s;

  .line1 {
    width: 40px;
    transition: width 1s, margin-left 1s;
  }

  .line2 {
    margin-left: 20px;
    width: 15px;
    transition: width 1s, margin-left 1s;
  }

  .line3 {
    margin-left: 0px;
    width: 40px;
    transition: width 1s, margin-left 1s;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  background-color: transparent;
  border-color: transparent;

  transition: rotate 1s;

  @mixin line() {
    margin-top: 6px;
    height: 6px;
    background-color: white;
    transition: width 1s, margin-left 1s;
  }

  .line1 {
    @include line();
    width: 20px;
  }

  .line2 {
    @include line();
    width: 40px;
  }

  .line3 {
    @include line();
    margin-left: 20px;
    width: 20px;
  }





}



//.header-enter{
//   rotate: 0deg;
// }
// .header-enter-active{
//   rotate: 90deg;
//   transform-origin: 45px 45px;
//   transition: rotate 1s;
// }
// .header-enter-done{
//   transform-origin: 45px 45px;
//   rotate: 90deg;
// }
// .header-exit{
//   rotate: 90deg;
// }
// .header-exit-active{
//   rotate: 0deg;
//   transform-origin: 45px 45px;
//   transition: rotate 1s;
// }