@import '../../SASS/basicComponents';
@import '../../SASS/colors';



.main {
  min-height: 100vh;

  display:flex;
  flex-direction: row;
  @media (max-width: 600px) { 
    flex-direction: column;
  }
}