@import '../../SASS/basicComponents';
@import '../../SASS/colors';

.aboutMe {

  width: 100%;

  padding: 2rem;
  padding-left: 100px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  background-color: #f8f8f8;
}

.profile {
  text-align: center;
}